.displayContent{
    margin-left: 2em;
}

h3{
    font-size: medium;
    font-weight: bolder;
}

.minBtn{
    line-height: 20px;
    font-family: "Pattaya";
    border-radius: 10px;
}

.triadDescription{
    display: inline;
    font-family: "Roboto-regular";
}

.chordDisplay{
    font-family: "Pattaya";
}

.rightdiv{
    float:left;
    margin-left: 2em;
}

.leftdiv{
    float:left;
}

.chordType{
    font-family: "Pattaya";
}