<div class="displayContent">
  <div class="leftdiv">
    <h3 class="chordDisplay" *ngIf="selectedScale">Triads in scale</h3>
    <div *ngFor="let chord of getChords('triad')">
      <button (click)="playChord(chord)" class="minBtn" color="primary">Play</button>
      &nbsp;<p class="triadDescription">{{chord.notes}} - <b class="chordDisplay">{{chord.getName()}}</b></p>
    <br>
    </div>
  </div>
  <div class="rightdiv">
    <h3 class="chordDisplay" *ngIf="selectedScale">Tetrads in scale</h3>
    <div *ngFor="let chord of getChords('tetrad')">
      <button (click)="playChord(chord)" class="minBtn" color="primary">Play</button>
      &nbsp;<p class="triadDescription">{{chord.notes}} - <b class="chordDisplay">{{chord.getName()}}</b></p>
    <br>
    </div>
  </div>
</div>