/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "Pattaya";
    src: local("Pattaya"), url(./assets/fonts/Pattaya-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-regular";
    src: local("Roboto-regular"), url(./assets/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}
.pageSubTitle{
    font-family: "Pattaya";
}